example

In [3]:
print("Hello, world!")

Hello, world!

python syntax

In [2]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

Python Comments

In [5]:
#This is a comment.
print("Hello, World!") #This is a comment
#print("Hello, World!")
print("Cheers, Mate!")
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!
Cheers, Mate!
Hello, World!

Python Variables

In [8]:
x = 5 # x is of type int
y = "John" # y is of type str
print(x)
print(y)

5
John

In [10]:
a = str(3)    # a will be '3'
b = int(3)    # b will be 3
c = float(3)  # c will be 3.0
print(a)
print(b)
print(c)

3
3
3.0

In [12]:
g = 5
d = "John"
print(type(g))
print(type(d))

<class 'int'>
<class 'str'>

In [14]:
i = "John"
# is the same as
j = 'John'
print(i)
print(j)

John
John

In [16]:
p = 4
P = "Sally"
#P will not overwrite p
print(p)
print(P)

4
Sally

Variable Names

In [5]:
myvar = "Dinara1"
my_var = "Dinara2"
_my_var = "Dinara3"
myVar = "Dinara4"
MYVAR = "Dinara5"
myvar2 = "Dinara6"
print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

Dinara1
Dinara2
Dinara3
Dinara4
Dinara5
Dinara6

In [7]:
#Each word, except the first, starts with a capital letter:
myVariableName = "Dinara"
#Each word starts with a capital letter:
MyVariableName = "Dinara"
#Each word is separated by an underscore character:\
my_variable_name = "Dinara"
print(myVariableName)
print(MyVariableName)
print(my_variable_name)

Dinara
Dinara
Dinara

In [9]:
#Many Values to Multiple Variables:
x, y, z = "apple", "banana", "cherry"
print(x)
print(y)
print(z)

apple
banana
cherry

In [11]:
#Unpack a Collection:
list = ["apple", "banana", "cherry"]
x, y, z = list
print(x)
print(y)
print(z)

apple
banana
cherry

In [15]:
#Output Variables:
#1:
x = "Python is awesome #1"
print(x)
#2:
a = "Python"
b = "is"
c = "awesome #2"
print(a, b, c)
#3:
d = "Python "
e = "is "
f = "awesome #3"
print(d + e + f)

Python is awesome #1
Python is awesome #2
Python is awesome #3

In [17]:
#For numbers, the + character works as a mathematical operator:
x = 5
y = 10
print(x + y)

15

In [21]:
x = 5
y = "John"
print(x, y)

5 John

In [23]:
#Global Variables:
x = "awesome" #global variable

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [25]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [33]:
#global keyword
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [31]:
def just_function():
    global x
    x = 5
    print(x)
just_function()
print(x)

5
5

In [37]:
x = "awesome"
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Python Data Types

In [40]:
x = 5
print(type(x))

<class 'int'>

In [42]:
x = "dinara"
print(type(x))

<class 'str'>

In [44]:
x = 20.5
print(type(x))

<class 'float'>

In [46]:
x = 2j
print(type(x))

<class 'complex'>

In [48]:
x = [1, 2, 3]
print(type(x))

<class 'list'>

In [50]:
x = (1, 2, 3)
print(type(x))

<class 'tuple'>

In [54]:
x = range(3)
print(x)
print(type(x))

range(0, 3)
<class 'range'>

In [56]:
x = {"name" : "Dinara", "age" : 18}
print(type(x))

<class 'dict'>

In [58]:
x = {"dinara", 18, 'a'}
print(type(x))

<class 'set'>

In [60]:
x = frozenset({1,2,3,4,5,6,7})
print(type(x))

<class 'frozenset'>

In [62]:
x = True
print(type(x))

<class 'bool'>

In [64]:
x = b"Hello"
print(type(x))

<class 'bytes'>

In [68]:
x = bytearray(6)
print(type(x))

<class 'bytearray'>

In [70]:
x = memoryview(bytes(5))
print(type(x))

<class 'memoryview'>

In [72]:
x = None
print(type(x))

<class 'NoneType'>

Python Numbers

In [87]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(x, type(x))
print(y, type(y))
print(z, type(z))

1 <class 'int'>
2.8 <class 'float'>
1j <class 'complex'>

In [89]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [93]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [95]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [97]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [111]:
x = 12
y = 3.6
z = 4j

a1 = int(y) #float to int
#a2 = int(z) #!!!
b1 = float(x) #int to float
#b2 = float(z) #!!!
c1 = complex(x) #int to complex
c2 = complex(y) #float to complex

print(a1)
#print(a2)
print(b1)
#print(b2)
print(c1)
print(c2)

print(type(a1))
#print(type(a2))
print(type(b1))
#print(type(b2))
print(type(c1))
print(type(c2))

3
12.0
(12+0j)
(3.6+0j)
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'complex'>

In [120]:
#Random Number:
import random
print(random.randrange(1, 10))

8

Python Casting

In [127]:
x = int(1)
y = int(2.8)
z = int("3")
print(x,y,z)

1 2 3

In [129]:
x = float(3.8)
y = float(3)
z = float("3")
w = float("3.8")
print(x,y,z,w)

3.8 3.0 3.0 3.8

Python Strings

In [132]:
print("Hi")
print('heillo')

Hi
heillo

In [142]:
#Quotes Inside Quotes:

print("Hello, my name is 'Dinara'")

print('Hello, my name is "Dinara"')

Hello, my name is 'Dinara'
Hello, my name is "Dinara"

In [146]:
#Assign String to a Variable:
x = "Hello!"
print(x)

Hello!

In [162]:
#Multiline Strings:
a = """hello
this
is 
python
"""
b = '''HI
THIS
IS 
ALSO
PYTHON
'''
print(a)
print(b)

hello
this
is
python

HI
THIS
IS
ALSO
PYTHON

In [164]:
#Strings are Arrays:
a = "Hello"
print(a[1])

e

In [170]:
#Looping Through a String:
for i in "Dinara":
    print(i)

D
i
n
a
r
a

In [172]:
x = "Hello"
for i in x:
    print(i)

H
e
l
l
o

In [174]:
#String Length:
s = "Python"
print(len(s))

6

In [178]:
#Check String:
text = "hello world"
print("hello" in text)
print("Dinara" in text)

True
False

In [182]:
foods = "apple cake sugar"
if "apple" in foods:
    print("Yes 'apple' is here")
if "mango" not in foods:
    print("Yes 'mango' is not here")

Yes 'apple' is here
Yes 'mango' is not here

In [186]:
#Slicing Strings:
text = "I love python"
print(text[7:13])

python

In [188]:
t = "hello world"
print(t[:5])

hello

In [192]:
d = "My name is Dinara"
print(d[11:])

Dinara

In [213]:
b = "Hello, World!"
print(b[-5:-2])

orl

String Methods

In [198]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [200]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [204]:
#The strip() method removes any whitespace from the "beginning" or the "end":
a = " Hello, World! "
print(a.strip())

Hello, World!

In [206]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [208]:
#The split() method splits the string into substrings if it finds instances of the separator:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

String Concatenation

In [216]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [218]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

Format - Strings

In [223]:
#F-Strings:
age = 18
text = f"My name is Dinara. I am {age}."
print(text)

My name is Dinara. I am 18.

In [229]:
#point number with n decimals:
price = 59
txt = f"The price is {price:.5f} dollars"
print(txt)

The price is 59.00000 dollars

In [231]:
#operation in the placeholder:
text = f"The price is {20*30} dollar"
print(text)

The price is 600 dollar

Escape Characters

In [254]:
txt = "\"Dinara\""     #\"
print(txt)         
a = "\'Hello\'"        #\'
print(a)
b = "just \\"          #\\
print(b)
c = "-Hello\n-world"   #\n or \r?
print(c)
d = "Hi\tPython"       #\t
print(d)
txt = "Hello \bWorld!" #\b
print(txt) 

#A backslash followed by three integers will result in a octal value: \ooo
txt = "\110\145\154\154\157"
print(txt)
#A backslash followed by an 'x' and a hex number represents a hex value: \xhh
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

"Dinara"
'Hello'
just \
-Hello
-world
Hi	Python
HelloWorld!
Hello
Hello

Python User Input

In [257]:
username = input("Enter username:")
print("Username is: " + username)

Enter username: Dinara

Username is: Dinara

Python String Formatting

In [260]:
price = 49
txt = f"It is very {'Expensive' if price>50 else 'Cheap'}"

print(txt)

It is very Cheap

In [262]:
fruit = "apples"
txt = f"I love {fruit.upper()}"
print(txt)

I love APPLES

In [270]:
price = 59000
txt = f"The price is {price:,} dollars"
print(txt)

The price is 59,000 dollars

In [272]:
def myconverter(x):
  return x * 0.3048

txt = f"The plane is flying at a {myconverter(30000)} meter altitude"
print(txt)

The plane is flying at a 9144.0 meter altitude

In [276]:
price = 49
txt = "The price is {} dollars"
print(txt.format(price)) 
#its like f"The price is {price} dollars"

The price is 49 dollars

In [278]:
#with more:
quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [280]:
#with Index Numbers:
quantity = 3
itemno = 567
price = 49
myorder = "I want {0} pieces of item number {1} for {2:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [282]:
age = 36
name = "John"
txt = "His name is {1}. {1} is {0} years old."
print(txt.format(age, name))

His name is John. John is 36 years old.

In [290]:
text = "My name is {name}. I am {age}."
print(text.format(name = "Dinara", age = 18))

My name is Dinara. I am 18.

Python Booleans

In [293]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [295]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [299]:
print(bool("Hello")) #just true
print(bool(15))

True
True

In [301]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [303]:
bool(False)
bool(None)
bool(0)
bool("") #emty string
bool(()) #emty tuple
bool([]) #emty list
bool({}) #emty set

False

In [307]:
def myFunction() :
  return True

print(myFunction())

True

In [309]:
x = 200
print(isinstance(x, int))

True

Python Operators

In [312]:
print(10 + 5)

15

else if...

In [315]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [317]:
a = 2000
b = 330
print("A") if a > b else print("B")

A

In [319]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [321]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

In [323]:
#You can have if statements inside if statements, this is called nested if statements.:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [329]:
#The pass StatementЖ
a = 33
b = 200

if b > a:
  pass