Creating a Function

In [5]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

Arguments

In [12]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")

Emil Refsnes

Number of Arguments

In [15]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

Arbitrary Arguments, *args

In [18]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

Keyword Arguments

In [21]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

Arbitrary Keyword Arguments, **kwargs

In [24]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

Default Parameter Value

In [27]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

Passing a List as an Argument

In [30]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

Return Values

In [33]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

The pass Statement

In [36]:
def myfunction():
  pass

Positional-Only Arguments

In [39]:
def my_function(x, /):
  print(x)

my_function(3)

3

In [41]:
def my_function(x):
  print(x)

my_function(x = 3)

3

Keyword-Only Arguments

In [44]:
def my_function(*, x):
  print(x)

my_function(x = 3)

3

In [46]:
def my_function(x):
  print(x)

my_function(3)

3

Combine Positional-Only and Keyword-Only

In [49]:
def my_function(a, b, /, *, c, d):
  print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

26

Recursion

In [52]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("Recursion Example Results:")
tri_recursion(6)

Recursion Example Results:
1
3
6
10
15
21

21

Python Lambda

In [55]:
x = lambda a : a + 10
print(x(5))

15

In [57]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [59]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [65]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [67]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [69]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

Python Classes and Objects

In [72]:
class Car:
    pass  # Бұл бос класс, ешқандай әрекет жасамайды

In [74]:
class Car:
    pass

my_car = Car()  # Car класының объектісін (экземплярын) жасадық
print(my_car)

<__main__.Car object at 0x1065453a0>

In [76]:
class Car:
    def __init__(self, brend, color):
        self.brend = brend
        self.color = color
my_car = Car("Tayota", "Red")
print(my_car.brend)
print(my_car.color)

Tayota
Red

In [78]:
class Car:
    def __init__(self, brand, color):
        self.brand = brand
        self.color = color

    def show_info(self):  # Кәдімгі метод
        print(f"Маркасы: {self.brand}, түсі: {self.color}")

# Объект жасау
my_car = Car("BMW", "Көк")
my_car.show_info()

Маркасы: BMW, түсі: Көк

In [82]:
#Create a Class:

class MyClass:
    x = 5

print(MyClass)

<class '__main__.MyClass'>

In [88]:
#Create Object:

class Cat:
    x = 5

cat_1 = Cat()
print(cat_1.x)

5

The __init__() Function

In [91]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("Dinara", 18)
print(p1.name)
print(p1.age)

Dinara
18

The __str__() Function

In [94]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("Dinara", 18)

print(p1)

<__main__.Person object at 0x15117e720>

In [98]:
class My_pets:
    def __init__(self, name1, name2):
        self.name1 = name1
        self.name2 = name2
    def __str__(self):
        return f"{self.name1},{self.name2}"

p1 = My_pets("Cat", "Dog")
print(p1)

Cat,Dog

Object Methods

In [109]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def my_function(self):
        print("Hello, ma name is " + self.name)
p1 = Person("Dinara", 18)
p1.my_function()

Hello, ma name is Dinara

Modify Object Properties

In [114]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)

p1.age = 40

print(p1.age)

40

Delete Object Properties

In [122]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)

del p1.age

#print(p1.age)

In [124]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)

del p1

#print(p1)

The pass Statement

In [127]:
class Person:
  pass

# having an empty class definition like this, would raise an error without the pass statement

Python Inheritance

Create a Parent Class

In [131]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
    def function(self):
        print(self.firstname, self.lastname)

x = Person("Dinara", "Turarbekova")
x.function()

Dinara Turarbekova

Create a Child Class

In [134]:
class Student(Person):
  pass

In [138]:
class Student:
    def __init__(self, name1, name2):
        self.name1 = name1
        self.name2 = name2
    def printname(self):
        print(self.name1, self.name2)
        
x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

Add the __init__() Function

In [145]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#new row:
class Student(Person):
  def __init__(self, fname, lname):
    Person.__init__(self, fname, lname)

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

Use the super() Function

In [148]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#new row:
class Student(Person): #super() == Person
  def __init__(self, fname, lname):
    #new row2:
    super().__init__(fname, lname)

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

Add Properties

In [151]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2019

x = Student("Mike", "Olsen")
print(x.graduationyear)

2019

Add Methods

In [154]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

x = Student("Mike", "Olsen", 2024)
x.welcome()

Welcome Mike Olsen to the class of 2024